/** CSS：Area */

.username-button {
    text-decoration: underline;
}

body {
    padding-top: 70px;
}

.navbar-brand {
    font-size: 2em;
}

.allplaycount {
    height: 130px;
    padding: 5px;
    background-color: #cfc;
    border: outset;
}

.main h2 {
    text-align: right;
}

.recently {
    background-color: #ccf;
    border: outset;
    padding: 5px;
    height: 100%;
    word-wrap: break-word;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.playdatasrow {
    margin-top: 4%;
}

.bluebutton-wrapper {
    background: royalblue;
    padding: 8px;
    margin: -8px;
    border-radius: 5px;
    color: white;
}

.container {
    margin-left: 20px;
}

th {
    font-size: 3pt;
}

#uploadCover {
    width: 50%;
}

.input-group-btn {
    float: left;
    padding-left: 2px;
    padding-top: 1px;
}

.information-box {
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: lightblue;
    border-radius: 5px;
}

#q{
    width:30%;
    float:left;
}

.browse-button{
   margin-top: -1px;
}

.selectpicker{
    width:80%;
    padding:5px;
}

#dataname{
    word-wrap: break-word;
}

.data{
    top:76px;
}